body{
    margin: 0;
}

.div1,.div2{
    height: 100vh;
}

.div1{
    background-color: pink;
}
.div2{
    background-color: salmon;
}

.square{
    width: 150px;
    height: 150px;
    background-color: fuchsia;
    transition: all .8s;
}

.square2{
    margin-top: 300px;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.red{
    background-color: red;
    border-radius: 50%;
}